name: MarketUpdate
on:
  workflow_dispatch:
  schedule:
    - cron: '30 14 * * 1-5'
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install requests
      - run: python bot.py
